{{ if stat "/opt/homebrew/bin/brew" -}}
fpath+=("{{ output "/opt/homebrew/bin/brew" "--prefix" | trim }}/share/zsh/site-functions")

eval "$(/opt/homebrew/bin/brew shellenv)"
{{ end -}}

{{ if stat "/opt/homebrew/bin/fzf" -}}
eval "$(fzf --zsh)"
{{ end -}}

export CERT_PATH=/opt/homebrew/etc/ca-certificates/cert.pem
export SSL_CERT_FILE=${CERT_PATH}
export REQUESTS_CA_BUNDLE=${CERT_PATH}
export NIX_SSL_CERT_FILE=${CERT_PATH}