{{- if eq .role "developer" -}}
#!/usr/bin/env bash

set -eufo pipefail
# get in PATH vscode
source ~/.zshrc

{{- range .vscodeExtensions }}
code --force --install-extension {{ . }}
{{ end -}}
{{- end -}}
