#!/usr/bin/env bash

set -eufo pipefail

{{ $brews := list
     "zsh"
     "curl"
     "btop"
     "tree"
     "gnupg"
     "ncdu"
     "jq"
     "yq"
     "wget"
     "fzf"
     "dockutil"
     "watch"
     "fd"
     "vim"
     "pv"
     "gnu-units"
     "fzf" -}}
{{ $casks := list
     "iterm2" -}}

# append two lists
{{ if eq .role "developer" -}}
{{ $devbrews := list
     "colima"
     "docker"
     "docker-buildx"
     "docker-compose"
     "kubernetes-cli"
     "watch"
     "fd"
     "age"
     "ffmpeg"
     "vim"
     "gh"
     "pv"
     "git"
     "git-lfs"
     "gnu-units"
     "go"
     "nvim"
     "shellcheck"
     "tmux"
     "asdf"
     "xz" -}}
# merge brew + devbrews
{{ range ($devbrews | sortAlpha | uniq) -}}{{ $brews = append $brews . }}{{ end -}}
{{ $devcasks := list
     "openlens"
     "visual-studio-code" -}}
{{ range ($devcasks | sortAlpha | uniq) -}}{{ $casks = append $casks . }}{{ end -}}
{{ end -}}



/opt/homebrew/bin/brew bundle -f --no-lock --file=/dev/stdin <<EOF
{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}
{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
EOF
