#!/usr/bin/env bash

set -eufo pipefail

echo "Opening Company Portal... please login with your company credentials (email + password)."
echo "email: {{ .email }}"
sleep 5
open /Applications/Company\ Portal.app