{{ if eq .ollama "yes" -}}
#!/usr/bin/env bash

# ollama pull models
echo "ollama pull XYZ"
ollamaModels=$(echo "{{.ollamaModels}}" | tr ',' ' ')

for model in $ollamaModels; do
    /opt/homebrew/bin/ollama pull "$model"
done
{{ end -}}
